<!DOCTYPE html>
<html>
    <head><% include partials/template/head.ejs %></head>
    <body class="<%= page %>">
        <% include partials/template/header.ejs %>
        <h1>This is for learning purpose. we have made this a success.</h1>
        <h2> Muhahahahahahahahaah.</h2>
        
        <% include partials/template/footer.ejs %>
        <% include partials/template/script.ejs %>
    </body>
</html>