<!DOCTYPE html>
<html>
    <head><% include partials/template/head.ejs %></head>
    <body class="<%= page %>">
        <% include partials/template/header.ejs %>
        <h1>Dont contact us we are invisible</h1>
        <h2> Got it? </h2>
        
        <% include partials/template/footer.ejs %>
        <% include partials/template/script.ejs %>
    </body>
</html>