<!DOCTYPE html>
<html>
    <head><% include partials/template/head.ejs %></head>
    <body class="<%= page %>">
        <% include partials/template/header.ejs %>
        <h1>Help is on the way ^_^ </h1>
        <h2> Incomingggggggggggg.</h2>
        
        <% include partials/template/footer.ejs %>
        <% include partials/template/script.ejs %>
    </body>
</html>